<h1>
  <span class="blue">&lt;</span>READMELOG<span class="blue">&gt;</span>
  <span class="yellow">Syncordian</span>
</h1>
<h2>
  Full
  <a href="https://github.com/ohmyzsh/ohmyzsh/blob/master/README.md" target="_blank">README</a>
  log history for the ohmyzsh github project
</h2>
<div class="main-container">
  <div class="container">
    <div class="content">
      <pre><%= @readme_content %></pre>
    </div>
  </div>
</div>
